.btn-default {
	background-color: $primary-color;
	border-color: $primary-color;
	color: $primary-color-text !important;
	&:hover,
	&:focus,
	&:active {
		background-color: $primary-color-dark;
		border-color: $primary-color-dark;
		color: $primary-color-text !important;
	}
}

.btn-primary {
	background-color: $accent-color;
	border-color: $accent-color;
	color: $primary-color-text !important;
	&:hover,
	&:focus,
	&:active {
		background-color: $accent-color-dark;
		border-color: $accent-color-dark;
		color: $primary-color-text !important;
	}
}

.btn-lg {
	font-size: 1.75em;
}