footer {
	height: 200px;
	width: 100%;
	@media (max-width: 991px) {
		padding: 15px 0;
		height: auto;
	}
}

.copyright {
	text-align: center;
}

.footer-contact {
	text-align: center;
	h1 {
		margin-top: 0;
	}
	p.phone {
		a {
			position: relative;
			top: -15px;
		}
	}
}

.social-media {
	text-align: center;
	ul {
		list-style: none;
		li {
			display: inline-block;
			margin: 0 5px;
			i {
				color: $primary-color;
			}
			i:hover, i:focus {
				color: $primary-color-dark;
			}
		}
	}
}