@import "pallette";

#activities {
  position: relative;
  margin: 30px auto;
  width: 100%;
  padding: 0;
}

.display-animation {
	.activity {
		padding: 0;
	  overflow: hidden;
	  position: relative;
	  border: none;
	  -webkit-transform: scale(0);
	  -ms-transform: scale(0);
	  -o-transform: scale(0);
	  transform: scale(0);
	  div {
	  	width: 100%;
	  	height: 50vh;
		  -webkit-transform: scale(1);
			transform: scale(1);
			-webkit-transition: .3s ease-in-out;
			transition: .3s ease-in-out;
			background-position: center;
	  	background-repeat: no-repeat;
	  }
	}

	.activity:hover {
		div {
			-webkit-transform: scale(1.3);
			transform: scale(1.3);
		}
	}
}

.activity {
	background: $primary-color;
}

.activity div {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.activity div:hover {
	opacity: .4;
}

.display-animation > .animated {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

.no-js .display-animation > * {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

#go-karts {
	background: url("../img/go-karts.jpg");
}

#laser-tag {
	background: url("../img/laser-tag.jpg");
} 

#mini-golf {
	background: url("../img/mini-golf.jpg");
}

#arcade {
	background: url("../img/arcade.jpg");
}

#buffet {
	background: url("../img/buffet.jpg");
}

#childs-play-center {
	background: url("../img/play-ground.jpg");
}

.activity-fix {
	@media(min-width: 992px) {
		position: relative;
		left: -1px;
	}
}

