@import "pallette";

$navbar-transparent: transparent;
$navbar-transparent-border: rgba(255,255,255,.6);

body,html {
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
}

.row {
	margin: 0;
}

.v-align-parent {
	display: table;
	overflow: hidden;
}

.v-align-child {
	display: table-cell;
	vertical-align: middle;
}

.move-content-down {
	padding-top: 60px;
}

.btn,
.navbar-default,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Bangers','Helvetica Neue',Arial,sans-serif;
	letter-spacing: 1px;
}

.dark-text {
	color: $primary-text-color;
}

.light-text {
	color: $primary-color-text;
}

.primary-text {
	color: $primary-color;
}

.hr-dark {
	border: 1px solid $primary-text-color;
}

.hr-light {
	border: 2px solid $primary-color-text;
}

.opacity-fix {
	opacity: 1 !important;
}

.scroll-down {
	margin: 15px 0;
	text-align: center;
	i {
		font-size: 3.5em !important;
	}
}

.section-primary-color {
	background-color: $primary-color;
	color: $primary-color-text;
	a {
		color: $link
	}
	a:hover,
	a:focus {
		color: $link;
	}
}

.section-light {
	background-color: $primary-color-text;
	color: $primary-text-color;
}

@import "forms";

@import "buttons";
 
@import "navbar";

@import "footer";