@import "pallette";

header,
header .header-content {
	position: relative;
	width: 100%;
	text-align: center; 
}

header {
	min-height: 100%;
}

header h1 {
  font-size: 3em;
}

header .btn {
  font-size: 1.75em;
}

#home-header {
  background-size: cover;
  background-position: center;
  background-image: url("../img/header.jpg");
  color: #fff;
}
 
.header-content img {
  margin-top: 50px;
  opacity: .75;
}

#home-section {
	height: 100%;
	width: 100%;

	h1 {
		font-size: 3em;
	}
	p {
		font-size: 1.75em;
	}
}
