doctype html
html(lang='en')
	include ../_templates/head.pug
	+head("FunWorks Warehouse", "about.css")
	body.move-content-down
		include ../_templates/navbar.pug
		+navbar("About")
		.container
			.text-center
				h1 About Us
				br
				br
				.row
					.col-md-10.col-md-offset-1
						p
							| We are a Family Entertainment Center based in Huntington Beach, California. We have a strong focus on providing fun activities for all ages.
				br
				|  
				img.img-responsive(src='../img/about/header.jpg')
				br
				.row
					.col-md-10.col-md-offset-1
						p
							| We pride ourselves with the level of service and quality we are able to achieve at all of our locations. From the freshness of our food to the atmosphere of our arcades, rest assured that we pay attention to every detail to make sure that you have the best experience possible with your friends and family.
				br
				br
				.panel.panel-primary
					.panel-heading
						h5.panel-title(style='font-size:26px;') Don&apos;t just take our word for it.
					.panel-body
						.row
							.col-md-6
								br
								p Read what others are saying about MissSpelt!
							.col-md-6
								a.btn.btn-default.btn-lg(href='reviews.html') Reviews
			.hr-dark
		include ../_templates/footer.pug
		+footer()
		include ../_templates/scripts.pug
		+scripts()
