doctype html
html(lang='en')
	include ../_templates/head.pug
	+head("FunWorks Warehouse", "activities.css")
	body
		include ../_templates/navbar.pug
		+navbar("Activities")

		#activities
			.row
				.col-md-4
					.activity#go-karts
						.v-align-parent.activity-learn-more
							.v-align-child.text-center
								h1.light-text Go-Karts
								buttun.btn.btn-default.btn-lg Learn More
				.col-md-4
					.activity#laser-tag
						.v-align-parent.activity-learn-more
							.v-align-child.text-center
								h1.light-text Laser Tag
								buttun.btn.btn-default.btn-lg Learn More
				.col-md-4
					.activity#mini-golf
						.v-align-parent.activity-learn-more
							.v-align-child.text-center
								h1.light-text Mini-Golf
								buttun.btn.btn-default.btn-lg Learn More
				.col-md-4
					.activity#arcade
						.v-align-parent.activity-learn-more
							.v-align-child.text-center
								h1.light-text Arcade
								buttun.btn.btn-default.btn-lg Learn More
				.col-md-4
					.activity#buffet
						.v-align-parent.activity-learn-more
							.v-align-child.text-center
								h1.light-text Buffet
								buttun.btn.btn-default.btn-lg Learn More
				.col-md-4
					.activity#childs-play-center
						.v-align-parent.activity-learn-more
							.v-align-child.text-center
								h1.light-text Childs Play Center
								buttun.btn.btn-default.btn-lg Learn More
		
		include ../_templates/footer.pug
		+footer()
		include ../_templates/scripts.pug
		+scripts("js/animations/activities-animations.js")
