doctype html
html(lang='en')
	include ../_templates/head.pug
	+head("FunWorks Warehouse", "activities.css")
	body
		include ../_templates/navbar.pug
		+navbar("Activities")
		header
			.header-content
				.header-content-inner
					#activities.display-animation.row
						.col-md-4.activity
							#go-karts
						.col-md-4.activity
							#laser-tag
						.col-md-4.activity.activity-fix
							#mini-golf
						.col-md-4.activity
							#arcade
						.col-md-4.activity
							#buffet
						.col-md-4.activity.avtivity-fix
							#childs-play-center
		
		include ../_templates/footer.pug
		+footer()
		include ../_templates/scripts.pug
		+scripts("js/animations/activities-animations.js")
