doctype html
html(lang='en')
	include ../_templates/head.pug
	+head("FunWorks Warehouse", "contact.css")
	body
		include ../_templates/navbar.pug
		+navbar("Contact")
		#contact.section-primary-color.v-align-parent
			.v-align-child
				header.container.text-center#get-in-touch(style="opacity: 0;")
					h1 Get in touch
					hr.hr-light
					br
					br
					br
				section
					.row
						.col-md-4.col-md-offset-2.text-center#contact-info(style="opacity: 0;")
							div.contact-phone
								h3 Phone
								a(href="tel:6577141234") (657) 714-1234
							div.contact-address
								h3 Address
								a(href="http://bit.ly/funworkswarehouselocation") 19702-19710 Coastline Lane Huntington Beach, CA 92648
							div.contact-email
								h3 Email
								a(href="mailto:info@funworkswarehouse.com") info@funworkswarehouse.com
							div.contact-hours
								h3 Hours
								p Monday - Saturday, 10:00AM - 11:00
						.col-md-4#map(style="opacity: 0;")
							a(type='button', data-toggle='modal', data-target='#map-modal')
								img.img-responsive.img-thumbnail(src="img/contact-map.jpg")
				.scroll-down
					a(href="#connect")
						i.fa.fa-chevron-down.light-text(aria-hidden="true")
		#connect.section-light.v-align-parent
			.v-align-child
				.container.text-center
					section
						h1 Connect With Us
						hr.hr-dark
					.row
						.col-md-2.col-md-offset-1
							i.fa.fa-facebook-f(aria-hidden="true")
							br
							a.btn.btn-default.btn-lg Facebook
						.col-md-2
							i.fa.fa-twitter(aria-hidden="true")
							br
							a.btn.btn-default.btn-lg Twitter
						.col-md-2
							i.fa.fa-instagram(aria-hidden="true")
							br
							a.btn.btn-default.btn-lg Instagram
						.col-md-2
							i.fa.fa-google-plus(aria-hidden="true")
							br
							a.btn.btn-default.btn-lg Google+
						.col-md-2
							i.fa.fa-pinterest-p(aria-hidden="true")
							br
							a.btn.btn-default.btn-lg Pinterest
				.scroll-down
					a(href="#form")
						i.fa.fa-chevron-down.primary-text(aria-hidden="true")
		#form.section-primary-color.container.v-align-parent
			.row.v-align-child
				.col-md-8.col-md-offset-2.well
					section
						form.contact-form(action='')
							.col-sm-12
								h1.dark-text.text-center Drop us a line
								br
							.col-sm-6
								.input-block
									label(for='') First Name
									input.form-control(type='text')
							.col-sm-6
								.input-block
									label(for='') Last Name
									input.form-control(type='text')
							.col-sm-12
								.input-block
									label(for='') Email
									input.form-control(type='text')
							.col-sm-12
								.input-block
									label(for='') Message Subject
									input.form-control(type='text')
							.col-sm-12
								.input-block.textarea
									label(for='') Drop your message here
									textarea.form-control(rows='3', type='text')
							.col-sm-12
								button.square-button.btn.btn-primary Send

		
		#map-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
			.modal-dialog(role='document')
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') &times;
					.modal-body
						#google-map
							iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3320.370015352595!2d-118.0082596847949!3d33.673481980710726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dd214d42eabb0f%3A0x13f107d24978ef2e!2s19702+Coastline+Ln%2C+Huntington+Beach%2C+CA+92648!5e0!3m2!1sen!2sus!4v1483493925939', frameborder='0', style='border:0', allowfullscreen='')

					.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Close


		
		include ../_templates/footer.pug
		+footer()
		include ../_templates/scripts.pug
		+scripts("js/animations/contact-animations.js")
