doctype html
html(lang='en')
	include ../_templates/head.pug
	+head("FunWorks Warehouse | Make a Reservation | Create a Reservation", "reserve.css", "date-time.css")
	body
		include ../_templates/navbar.pug
		+navbar("Reserve")

		#create-reservation.section-primary-color.v-align-parent
			.v-align-child
				.row
					.col-md-8.col-md-offset-2.well
						form.material-form(action='reservation-created.html' method="POST")
							.col-sm-12
								h1.dark-text.text-center Create a reservation
								br
							.col-sm-6
								.input-block
									label(for='') First Name
									input.form-control(type='text')
							.col-sm-6
								.input-block
									label(for='') Last Name
									input.form-control(type='text')
							.col-sm-6
								.input-block
									label(for='') Email
									input.form-control(type='text')
							.col-sm-6
								.input-block
									label(for='') Number of people
									input.form-control(type='number')
							.col-sm-6
								.input-block
									label(for='') Date (mm/dd/yyyy)
									input#datetimepicker.form-control(type='text', name='date')
							.col-sm-6
								.input-block
									label(for='') Time
									select#time.form-control(name='time')
										option(label=" ")
										option(value='10:00 A.M.') 10:00 A.M.
										option(value='11:00 A.M.') 11:00 A.M.
										option(value='12:00 A.M.') 12:00 A.M.
										option(value='1:00 P.M.') 1:00 P.M.
										option(value='2:00 P.M.') 2:00 P.M.
										option(value='3:00 P.M.') 3:00 P.M.
										option(value='4:00 P.M.') 4:00 P.M.
										option(value='5:00 P.M.') 5:00 P.M.
										option(value='6:00 P.M.') 6:00 P.M.
										option(value='7:00 P.M.') 7:00 P.M.
										option(value='8:00 P.M') 8:00 P.M
										option(value='9:00 P.M') 9:00 P.M
										option(value='10:00 P.M') 10:00 P.M
										option(value='11:00 P.M') 11:00 P.M
							.col-sm-12
								input.square-button.btn.btn-primary(type="submit", value="Submit")
		include ../_templates/footer.pug
		+footer()
		include ../_templates/scripts.pug
		+scripts("js/date-time.js")
