doctype html
html(lang='en')
	include ../_templates/head.pug
	+head("FunWorks Warehouse", "about.css")
	body
		include ../_templates/navbar.pug
		+navbar("About")

		include ../_templates/footer.pug
		+footer()
		include ../_templates/scripts.pug
		+scripts()
