doctype html
html(lang='en')
	include ../_templates/head.pug
	+head("FunWorks Warehouse", "home.css")
	body
		include ../_templates/navbar.pug
		+navbar("Home", true)
		header.v-align-parent#home-header
			.header-content.v-align-child
				.header-content-inner
					img(src="img/large-logo.png")
					#home-learn-more(style="opacity: 0;")
						h1.text-center Fun for the whole family!
						a.btn.btn-primary.btn-lg(href="#home-activities") Learn More
		section.section-primary-color.v-align-parent#home-activities
			.container.v-align-child
				.row
					.col-lg-6.text-center#home-activities-text
						br
						br
						br
						h1.section-heading The most fun warehouse in the world, guaranteed
						hr.light
						p.
							Here at FunWorks Warehouse we make sure that there are activities for all ages.
							From go karts, to laser tag, to arcade games, there is bound to be something fun to for each and every family member
						br
						br
						a.btn.btn-primary.btn-lg(href="activities.html") View Activites
						br
						br
					.col-lg-6#home-activities-img
						img.img-responsive.img-thumbnail(src="img/home-arcade.jpg" alt="")
				.scroll-down
					a(href="#home-about")
						i.fa.fa-chevron-down.light-text(aria-hidden="true")
		section.section-light.v-align-parent#home-about
			.container.v-align-child
				.row
					.col-md-8.col-md-offset-2.text-center
						h1#home-about-header Want to find out more about us?
						br
						hr.hr-dark#home-about-hr
						.row
							.col-md-4
								#home-about-flag
									br
									br
									i.fa.fa-flag
									p Go check out our about page
									a.btn.btn-default.btn-lg(href="about.html") About
							.col-md-4
								#home-about-packages
									br
									br
									i.fa.fa-users
									p Make reservations and view party packages
									a.btn.btn-default.btn-lg(href="reserve.hml") Reserve
							.col-md-4
								#home-about-card
									br
									br
									i.fa.fa-address-card
									p Feel free to contact us with any questions
									a.btn.btn-default.btn-lg(href="contact.hml") Contact
		
		include ../_templates/footer.pug
		+footer()
		include ../_templates/scripts.pug
		+scripts("js/animations/home-animations.js")
