doctype html
html(lang='en')
	include ../_templates/head.pug
	+head("FunWorks Warehouse", "menu.css")
	body.move-content-down
		include ../_templates/navbar.pug
		+navbar("Activities")

		include ../_templates/footer.pug
		+footer()
		include ../_templates/scripts.pug
		+scripts("js/animations/contact-animations.js")
