doctype html
html(lang='en')
	include ../_templates/head.pug
	+head("FunWorks Warehouse", "reserve.css")
	body.move_content_down
		include ../_templates/navbar.pug
		+navbar("Reserve")
		header.v-align-parent#reserve-header
			.container.v-align-child
				.row
					.col-lg-8.col-lg-offset-2.text-center
						h1 Planning a party?
						h1 Check out our pricing rates!
		.w-table
			.w-table-cell
				.w-container
					.w-card.color-violet
						.card-header
							.w-title  Basic
							.w-price  $9.99
							.container-button
								a.w-button(href='http://codepen.io/Anna_Batura/', target='_blank') Sign up
						.card-content
							.w-item
								span 1GB
								|  Disk Space
							.w-item
								span 10GB
								|  Monthly Bandwidth
							.w-item
								span 1
								|  Email Accounts
					.w-card.color-green
						.card-header
							.w-title  Standard
							.w-price  $19.99
							.container-button
								.w-button  Sign up
						.card-content
							.w-item
								span 2GB
								|  Disk Space
							.w-item
								span 25GB
								|  Monthly Bandwidth
							.w-item
								span 2
								|  Email Accounts
					.w-card.color-blue
						.card-header
							.w-title  Professional
							.w-price  $29.99
							.container-button
								.w-button  Sign up
						.card-content
							.w-item
								span 5GB
								|  Disk Space
							.w-item
								span 50GB
								|  Monthly Bandwidth
							.w-item
								span 10
								|  Email Accounts

		section.v-align-parent.section-light#reserve-section
			.container.v-align-child
				.row
					.col-md-2.text-center
						p hello world
					.col-md-2.text-center
						p hello world
		include ../_templates/footer.pug
		+footer()
		include ../_templates/scripts.pug
		+scripts()
