doctype html
html(lang='en')
	include ../_templates/head.pug
	+head("FunWorks Warehouse", "thank-you.css")
	body
		.section-primary-color.v-align-parent 
			.v-align-child
				.container
					.text-center
						h1 Thank You
						p We will get back with you shortly
						a.btn.btn-primary.btn-lg(href='index.html') Home

