doctype html
html(lang='en')
	include ../_templates/head.pug
	+head("FunWorks Warehouse | Thank You", "thank-you.css")
	body
		include ../_templates/navbar.pug
		+navbar("Contact")
		.section-primary-color.v-align-parent 
			.v-align-child
				.container.text-center.thank-you
						h1 Thanks!
						p We will get back with you shortly
						a.btn.btn-primary.btn-lg(href='index.html') Home
	include ../_templates/footer.pug
	+footer()
	include ../_templates/scripts.pug
	+scripts()

