.well {
  background-color: #fff;
  border: none;
  padding-bottom: 0;
}

.well p {
  font-size: 17px;
}

.panel-primary .panel-heading {
  color: #fff;
  background-color: #009688;
  border-color: #009688;
}
