mixin footer
	footer.v-align-parent
		.fluid-container.v-align-child
			.row
				.col-md-4
					.copyright
						p © Copyright 2017 FunWorks Warehouse
						p Credits for media and technologies used can be found 
							a(href="credits.html") here
							| .
				.col-md-4
					.footer-contact
						h1 Funworks Warehouse
						p.phone
							i.fa.fa-phone.fa-3x(aria-hidden="true")
							a(href="tel:6577141234") (657) 714-1234
				.col-md-4
					.social-media
						ul
							li.facebook
								a(href="https://www.facebook.com/funworkswarehouse" target="_blank")
									i.fa.fa-facebook-square.fa-4x(aria-hidden="true")
							li.twitter
								a(href="https://twitter.com/FwWarehouse" target="_blank")
									i.fa.fa-twitter-square.fa-4x(aria-hidden="true")
							li.instagram
								a(href="https://www.instagram.com/funworks_warehouse/" target="_blank")
									i.fa.fa-instagram.fa-4x(aria-hidden="true")
							li.google-plus
								a(href="https://plus.google.com/117773947179482044115/about" target="_blank")
									i.fa.fa-google-plus-square.fa-4x(aria-hidden="true")
							li.pinterest
								a(href="https://www.pinterest.com/funworkswarehou/" target="_blank")
									i.fa.fa-pinterest-square.fa-4x(aria-hidden="true")