-
  var pagesLeft = [["Home", "index.html"], ["Activities", "activities.html"], ["Reserve", "reserve.html"]];
  var pagesRight = [["About", "about.html"], ["Contact", "contact.html"]];
mixin navbar(activePage, clearNav)
  mixin createNav()
    .container-fluid
      .navbar-header
        button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
          span.sr-only Toggle navigation
          | Menu 
          i.fa.fa-bars
        a.navbar-brand(href="#page-top")
          img(src="img/small-logo.png")
      mixin navbar-tabs(pages)
        each page in pages
          if(activePage === page[0])
            li.active-tab
              a(href=page[1]) #{page[0]}
          else 
            li
              a(href=page[1]) #{page[0]}

      .collapse.navbar-collapse#bs-example-navbar-collapse-1
        ul.nav.navbar-nav
          +navbar-tabs(pagesLeft)
        ul.nav.navbar-nav.navbar-right
          +navbar-tabs(pagesRight)
  
  if(clearNav)
    nav.navbar.navbar-default.navbar-fixed-top.affix-top#mainNav
      +createNav()
  else 
    nav.navbar.navbar-default.navbar-fixed-top.affix
      +createNav()