mixin scripts(...scripts)
	// jQuery 
	script(src="js/jquery-3.1.1.min.js")
	// Bootstrap Core JavaScript 
	script(src="js/bootstrap.min.js")
	script(src="js/jquery.waypoints.min.js")
	script(src="js/global-scripts.js")
	each script in scripts
		script(src=script)